In [14]:
# import previos notbook
%run 0.0-thomas-dowload_data.ipynb

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1270k  100 1270k    0     0  1843k      0 --:--:-- --:--:-- --:--:-- 1843k

# Process data

## read data

In [15]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [16]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Columns: 873 entries, Province/State to 6/8/22
dtypes: float64(2), int64(869), object(2)
memory usage: 1.9+ MB

In [17]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22,6/6/22,6/7/22,6/8/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,180259,180347,180419,180520,180584,180615,180615,180688,180741,180784
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,276101,276101,276221,276221,276310,276342,276401,276415,276468,276518
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265877,265884,265887,265889,265889,265889,265897,265900,265904,265909
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,42894,42894,42894,42894,43067,43067,43067,43067,43067,43224
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99761,99761,99761,99761,99761,99761,99761,99761,99761,99761

## Process data

In [18]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

## save aoutput data

In [19]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [20]:
processed_df.to_csv(output_covid_file, index=False)